body{
    font-family:'Englebert', cursive;
	}

h2 {
    font-size:2.5em;
	text-align: center;
}

h4 {
    font-size:1.5em;
	text-align: center;
    } 
  
p1{
	font-size: 1em;
    text-align:	center;
	}

h1 {
    font-size:6em;
	text-align: center;
	margin:0;
    }

h3 {
text-shadow: 3px 3px 3px #000000;
font-size: 2em;
margin: 2px 0px 5px 0px
}

h4 {
    font-size:1.5em;
	text-align: center;
} 

h1 {
    text-shadow: 5px 6px 5px #000000;
   }
   
h3 {
text-align: center;
} 

ul
{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
}
li
{
float:left;
}
#menu a:link, #menu a:visited
{
display:block;
width:648px;
font-weight:bold;
background-color:#FFFF66;
color: black;
text-align:center;
padding:9px;
text-decoration:none;
text-transform:uppercase;
}

a:link,a:visited
{
display:block;
font-weight:bold;

color: black;
text-align:center;
padding:8px;
}

#top {
    background-image: url("yellowbackground.jpg");
}

div.ex {
    width: 115px;
    padding: 10px;
    border: 5px solid black;
    margin: 0px;
}

   {
    background-color:  #FFFFCC;
   }  

   div.pos_left {
    position: relative;
    left: -200px;
	}
	
h6 {
font-size:1.3em; 
color: #000000;
}

h5 {
font-size:1.5em;
color: #000000;
}

b {
color: #000000;
font-size:1.5em;
}